#outer { 
      width:  1024px;
      height: 768px;
      margin: 0px;
      border: 1px solid gray;
      overflow: hidden; /*  Disable scrollbars */
      display: block;  /* No floating content on sides */
};
