#outer { 
      height: 768px;
      /* margin: 0 auto; */
      valign : left;
      border: 1px solid gray;
      overflow: hidden; /*  Disable scrollbars */
      display: block;  /* No floating content on sides */
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

