<!DOCTYPE html>
<html>
  <head>
    <title>CQParts display-o-tron</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
  </head>
  <body>
    <div id="nav" class="pure-u">
      {{ template "menu.tmpl" }}
    </div>
    <div id="outer">
        <canvas class="threejs" id="viewer"></canvas>
    </div>
	<div id=alert></div>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/cqpartsViewer.js"></script>
    <script src="/static/js/saver.js"></script>
    {{if .current}}
        <script>
            load({{.current}});
        </script>
    {{end}}
  </body>
</html>