<!DOCTYPE html>
<html>
  <head>
    <title>CQParts display-o-tron</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
  </head>
  <body>
    <div id="main" class="pure-g">
        <div id="nav" class="pure-u-1-5">
            <model :model-list="modelList"></model>
        </div>
        <div class="pure-u-3-5">
            [[ template "viewer.tmpl"]]
            [[ template "buttons.tmpl"]]
        </div>
    </div>
    [[ template "vuetmpl"]]
    <script src="/static/js/vue.js"></script>
    <script src="/vue/comp.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/cqpartsViewer.js"></script>
    <script src="/static/js/saver.js"></script>
    [[if .current]]
        <script>
            load([[.current]]);
        </script>
    [[end]]
  </body>
</html>