<!DOCTYPE html>
<html>
  <head>
    <title>CQParts display-o-tron</title>
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/extra.css">
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
  </head>
  <body>
    <div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
      {{ template "menu.tmpl" }}
    </div>
    <div id="main" class="pure-u-1">
        <div id="outer">
            <canvas class="threejs" id="viewer"></canvas>
        </div>
            <div id=alert></div>
        </div>
    </div>
      {{ template "buttons.tmpl" }}
      <br><br>
    <small> SPACE to hide / A to show all</small>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/cqpartsViewer.js"></script>
    <script src="/static/js/saver.js"></script>
    {{if .current}}
        <script>
            load({{.current}});
        </script>
    {{end}}
  </body>
</html>