<!DOCTYPE html>
<html>
    <head>
        <title>CQParts display-o-tron</title>
        <link rel="stylesheet" href="/static/css/semantic.min.css">
        <link rel="stylesheet" href="/static/css/extra.css">
        <link rel="stylesheet" href="/vue/comp.css">
        <script src="/static/js/babylon.js"></script>
        <script src="/static/js/babylon.glTFFileLoader.js"></script>
        <script src="/static/js/axios.min.js"></script>
    </head>
    <body>
        <div class="ui" id="main">
            <canvas class="baby" id="viewer"></canvas>
        </div>
        [[ template "vuetmpl"]]
        <script src="/static/js/vue.js"></script>
        <script src="/static/js/vuex.js"></script>
        <script src="/static/js/semantic-ui-vue.min.js"></script>
        <script src="/vue/comp.js"></script>
        <script src="/static/js/store.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/babylonviewer.js"></script>
        [[if .current]]
        <script>
            load([[.current]]);
        </script>
        [[end]]
    </body>
</html>