<template id="navigation">
    <div class="pure-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item" v-for="obj in models">
            <a class="pure-menu-link" href="#">{{ obj }}</a>
        </li>
    </ul>
    </div>
</template>
